<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banking System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
     <div class="container_nav">
        <header>
            <h1>Banking System</h1>
            <nav>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('create_account') }}">Create Account</a>
                <a href="{{ url_for('deposit') }}">Deposit</a>
                <a href="{{ url_for('withdraw') }}">Withdraw</a>
                <a href="{{ url_for('check_balance') }}">Check Balance</a>
            </nav>
        </header>
     </div> 
        <main>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flash-messages">
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>
