<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="/static/img/img.png">
</head>

<body>
    <div class="scotch-container">
        <!--- <nav>
            <a href="#" target="_blank">Developer</a>
            <a href="#" target="_blank">Vident</a>
            <a href="#" class="buy">Try VEDA</a>
        </nav>-->
        <div class="main-container">
            <div class="text-sphere-container">
                <div class="text-container">
                    <h1>Delete Account</h1>
                    <p>Fill in the fields to delete account, <a href="/"
                            style="font-size: 17px; font-weight: 700;">click
                            here</a> to return back home.</p>

                    <form method="post">
                        <label for="owner">Owner:</label><br>
                        <input type="text" name="owner" required><br>
                        <label for="password">Password:</label><br>
                        <input type="password" name="password" required><br>
                        <label for="password">Repeat Password:</label><br>
                        <input type="password" name="password1" required><br>
                        <div style="display: inline-flex; gap:20px;">
                            <input class="submit"  type="submit" value="Delete Account">
                            <a style="margin-top:10px;" class="buy" href="{{ url_for('index') }}">Back to Home</a>
                        </div>
                    </form>


                    <div id="message" class="mess">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <ul>
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>

                <a style="margin-left: -90px" href="#BankAppPy">
                    <div class="sphere">
                        <img height="200px" width="200px" src="/static/img/img.png"></img>
                    </div>
                </a>
            </div>

            <div class="learn-arrow">
                <p>*Project By Aditya, Ashwin, Isaac*</p>
            </div>
        </div>
    </div>


</body>

</html>